.plugin-mediacao {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.atividade-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}

.cabecalho .data {
    color: #000;
}

.cabecalho .atrasada {
    color: orange;
}

.cabecalho .dias-restantes {
    color: green;
}

.descricao {
    margin-top: 10px;
    font-size: 1em;
}

.tipo-mensagem {
    margin-top: 10px;
    font-size: 1em;
}

#verBaseDeDados {
    margin-top: 10px;
}

.acoes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 30px;
}

.btn-finalizar {
    all: unset; /* Remove todos os estilos padrão do botão */
    display: inline-block; /* Necessário para centralizar o ícone */
    cursor: pointer; /* Garante que o cursor fique em formato de mão */
    
}

.btn-finalizar::after {
    content: "\2714"; /* Código Unicode do emoji ✔️ */
    font-size: 1.5em; /* Ajuste o tamanho do ícone conforme necessário */
    color: green; /* Define a cor do ícone */
    font-weight: bold; /* Deixa o ícone mais destacado */
    vertical-align: middle; /* Centraliza o ícone verticalmente */
}


@media (max-width: 600px) {
    .plugin-mediacao {
        padding: 15px;
    }

    .atividade-item {
        padding: 10px;
    }

    .cabecalho {
        flex-direction: column;
        align-items: flex-start;
    }

    .acoes {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-finalizar {
        width: 100%;
        text-align: center;
    }
}